###############################################################################
# CONTACTS.CFG - SAMPLE CONTACT/CONTACTGROUP DEFINITIONS
#
# NOTES: This config file provides you with some example contact and contact
#        group definitions that you can reference in host and service
#        definitions.
#       
#        You don't need to keep these definitions in a separate file from your
#        other object definitions.  This has been done just to make things
#        easier to understand.
#
###############################################################################



###############################################################################
###############################################################################
#
# CONTACTS
#
###############################################################################
###############################################################################

# Just one contact defined by default - the Icinga admin (that's you)
# This contact definition inherits a lot of default values from the 'generic-contact' 
# template which is defined elsewhere.

define contact{
        contact_name                    icingaadmin		; Short name of user
	use				generic-contact		; Inherit default values from generic-contact template (defined above)
        alias                           Icinga Admin		; Full name of user
        email                           weboperations@nbty.com	; <<***** CHANGE THIS TO YOUR EMAIL ADDRESS ******
        }

define contact{
        contact_name                    webops             
        use                             generic-contact       
        alias                           Web Operations
        email                           weboperations@nbty.com
        }

define contact{
        contact_name                    dbadmin
        use                             generic-contact
        alias                           Windows Database Admin
        email                           SQLNotifications@nbty.com
        }

define contact{
        contact_name                    danielcassiero
        use                             generic-contact
        alias                           Daniel Cassiero
        service_notification_commands   notify-service-by-email,service-notify-twitter
        host_notification_commands      notify-host-by-email,host-notify-twitter
        email                           danielcassiero@nbty.com
	_TWIT				alertsink
        }

define contact{
        contact_name                    jasonbobadilla
        use                             generic-contact
        alias                           Jason Bobadilla
        service_notification_commands   notify-service-by-email
        host_notification_commands      notify-host-by-email
        email                           jasonbobadilla@nbty.com
        }

define contact{
        contact_name                    kshitijbedi
        use                             generic-contact
        alias                           Tij Bedi
        service_notification_commands   notify-service-by-email,service-notify-twitter
        host_notification_commands      notify-host-by-email,host-notify-twitter
        email                           kshitijbedi@nbty.com
        _TWIT                           alertsink
        }


###############################################################################
###############################################################################
#
# CONTACT GROUPS
#
###############################################################################
###############################################################################

# We only have one contact in this simple configuration file, so there is
# no need to create more than one contact group.

define contactgroup{
        contactgroup_name       admins
        alias                   Icinga Administrators
        members                 webops
        }

define contactgroup{
        contactgroup_name       dbadmins
        alias                   Windows Database Administrators
        members                 dbadmin, webops
        }

define contactgroup{
        contactgroup_name       dbadminsonly
        alias                   Windows Database Administrators
        members                 dbadmin, jasonbobadilla
        }

define contactgroup{
        contactgroup_name       linux-admins
        alias                   Linux Administrators
        members                 danielcassiero, kshitijbedi, jasonbobadilla
        }
