#####################################################################
#####                            USN                            #####
#####################################################################

define host {
                use                             generic-website
                host_name                       www.americanhealthus.com.wb01
                alias                           www.americanhealthus.com.wb01
                address                         10.217.17.51
                _SQLKEY                         AH4862871
		_HEADER				www.americanhealthus.com
}

define host {
                use                             generic-website
                host_name                       app.solgar.com.wb01
                alias                           app.solgar.com.wb01
                address                         10.217.17.52                 
                _SQLKEY                         Solgar            
                _HEADER				app.solgar.com
}

define host {
                use                             generic-website
                host_name                       www.bodyfortress.com.wb01
                alias                           www.bodyfortress.com.wb01
                address                         10.217.17.53                         
                _SQLKEY                         BF5458841
                _HEADER				www.bodyfortress.com
}

define host {
                use                             generic-website
                host_name                       www.body-supreme.co.uk.wb01
                alias                           www.body-supreme.co.uk.wb01
                address                         10.217.17.54                         
                _SQLKEY                         BSUK8438741
                _HEADER				www.body-supreme.co.uk

}

define host {
                use                             generic-website
                host_name                       www.capsuleworks.com.wb01
                alias                           www.capsuleworks.com.wb01
                address                         10.217.17.55                         
                _SQLKEY                         CW7367343
                _HEADER				www.capsuleworks.com
}

define host {
                use                             generic-website
                host_name                       www.ester-c.ca.wb01
                alias                           www.ester-c.ca.wb01
                address                         10.217.17.57                         
                _SQLKEY                         ECCA3537411
                _HEADER				www.ester-c.ca
}

define host {
                use                             generic-website
                host_name                       www.ester-c.com.wb01
                alias                           www.ester-c.com.wb01
                address                         10.217.17.56                         
                _SQLKEY                         EC8855641
                _HEADER				www.ester-c.com
}

define host {
                use                             generic-website
                host_name                       www.flexamin.com.wb01
                alias                           www.flexamin.com.wb01
                address                         10.217.17.58                         
                _SQLKEY                         FL3558432
                _HEADER				www.flexamin.com
}

define host {
                use                             generic-website
                host_name                       www.goodnnatural.com.wb01
                alias                           www.goodnnatural.com.wb01
                address                         10.217.17.59                         
                _SQLKEY                         GN2013743
                _HEADER				www.goodnnatural.com
}

define host {
                use                             generic-website
                host_name                       www.goodnnaturalbar.com.wb01
                alias                           www.goodnnaturalbar.com.wb01
                address                       	 10.217.17.81
                _SQLKEY                         AE2011278
                _HEADER                         www.goodnnaturalbar.com
}

define host {
                use                             generic-website
                host_name                       www.gwpwatch.com.wb01
                alias                           www.gwpwatch.com.wb01
                address                         10.217.17.82
                _SQLKEY                         GW2011299
                _HEADER                         www.gwpwatch.com
}

define host {
                use                             generic-website
                host_name                       www.homehealthus.com.wb01
                alias                           www.homehealthus.com.wb01
                address                         10.217.17.60                         
                _SQLKEY                         HH2599166
                _HEADER				www.homehealthus.com
}

define host {
                use                             generic-website
                host_name                       www.knox.com.wb01
                alias                           www.knox.com.wb01
                address                         10.217.17.61                         
                _SQLKEY                         UA-1859759-9
                _HEADER				www.knox.com
}

define host {
                use                             generic-website
                host_name                       www.lenaturiste.com.wb01
                alias                           www.lenaturiste.com.wb01
                address                         10.217.17.62                         
                _SQLKEY                         Lenaturiste
                _HEADER				www.lenaturiste.com
}

define host {
                use                             generic-website
                host_name                       www.metrx.co.uk.wb01
                alias                           www.metrx.co.uk.wb01
                address                         10.217.17.63                         
                _SQLKEY                         MXUK5803647
                _HEADER				www.metrx.co.uk
}

define host {
                use                             generic-website
                host_name                       www.naturalwealth.com.wb01
                alias                           www.naturalwealth.com.wb01
                address                         10.217.17.64                         
                _SQLKEY                         NW5965707
                _HEADER				www.naturalwealth.com
}

define host {
                use                             generic-website
                host_name                       www.naturesbounty.ca.wb01
                alias                           www.naturesbounty.ca.wb01
                address                         10.217.17.66                         
                _SQLKEY                         NBC4571063
                _HEADER				www.naturesbounty.ca
}

define host {
                use                             generic-website
                host_name                       www.naturesbounty.com.wb01
                alias                           www.naturesbounty.com.wb01
                address                         10.217.17.65                         
                _SQLKEY                         NB3465068
                _HEADER				www.naturesbounty.com
}

define host {
                use                             generic-website
                host_name                       www.nbtyhelpinghands.com.wb01
                alias                           www.nbtyhelpinghands.com.wb01
                address                         10.217.17.67                         
                _SQLKEY                         NBHH6503074
                _HEADER				www.nbtyhelpinghands.com
}

define host {
                use                             generic-website
                host_name                       www.neurops.com.wb01
                alias                           www.neurops.com.wb01
                address                         10.217.17.68                         
                _SQLKEY                         NO8240904
                _HEADER				www.neurops.com
}

define host {
                use                             generic-website
                host_name                       www.nutritionfocus.org.wb01
                alias                           www.nutritionfocus.org.wb01
                address                         10.217.17.69                         
                _SQLKEY                         nutritionfocus
                _HEADER				www.nutritionfocus.org
}

define host {
                use                             generic-website
                host_name                       www.omni-pak.com.wb01
                alias                           www.omni-pak.com.wb01
                address                         10.217.17.70                         
                _SQLKEY                         OP4313020
                _HEADER				ww.omni-pak.com
}

define host {
                use                             generic-website
                host_name                       www.osteobiflex.ca.wb01
                alias                           www.osteobiflex.ca.wb01
                address                         10.217.17.72                         
                _SQLKEY                         OBCA2756020
                _HEADER				www.osteobiflex.ca
}

define host {
                use                             generic-website
                host_name                       www.osteobiflex.com.wb01
                alias                           www.osteobiflex.com.wb01
                address                         10.217.17.71                         
                _SQLKEY                         OB1094669
                _HEADER				www.osteobiflex.com
}

define host {
                use                             generic-website
                host_name                       www.osteobiflex.co.uk.wb01
                alias                           www.osteobiflex.co.uk.wb01
                address                         10.217.17.73                         
                _SQLKEY                         OBUK5515827
                _HEADER				www.osteobiflex.co.uk
}

define host {
                use                             generic-website
                host_name                       www.pureprotein.net.wb01
                alias                           www.pureprotein.net.wb01
                address                         10.217.17.74                         
                _SQLKEY                         MR4855427
                _HEADER				www.pureprotein.net
}

define host {
                use                             generic-website
                host_name                       www.radiancevitamins.com.wb01
                alias                           www.radiancevitamins.com.wb01
                address                         10.217.17.75                         
                _SQLKEY                         RV6707866
                _HEADER				www.radiancevitamins.com
}

define host {
                use                             generic-website
                host_name                       www.skatewiththegreats.com.wb01
                alias                           www.skatewiththegreats.com.wb01
                address                         10.217.17.76                         
                _SQLKEY                         SGMX5700208
                _HEADER				www.skatewiththegreats.com
}

define host {
                use                             generic-website
                host_name                       www.solgar.com.wb01
                alias                           www.solgar.com.wb01
                address                         10.217.17.77                         
                _SQLKEY                         SG4770689
                _HEADER				www.solgar.com
}

define host {
                use                             generic-website
                host_name                       www.sportnutrition.com.wb01
                alias                           www.sportnutrition.com.wb01
                address                         10.217.17.78                         
                _SQLKEY                         WW1701777
                _HEADER				www.sportnutrition.com
}

define host {
                use                             generic-website
                host_name                       www.sundownnaturals.com.wb01
                alias                           www.sundownnaturals.com.wb01
                address                         10.217.17.79                         
                _SQLKEY                         RF4904918
                _HEADER				www.sundownnaturals.com
}

define host {
                use                             generic-website
                host_name                       www.sunvalleybar.com.wb01
                alias                           www.sunvalleybar.com.wb01
                address                         10.217.17.83
                _SQLKEY                         SV2011321
                _HEADER                         www.sunvalleybar.com
}

define host {
                use                             generic-website
                host_name                       uk.solgar.com.wb01
                alias                           uk.solgar.com.wb01
                address                         10.217.17.80                         
                _SQLKEY                         SGUK841765
                _HEADER				uk.solgar.com
}

#####################################################################
#####                         SERVICES                          #####
#####################################################################

define service {
		use				generic-web-service
                service_description             HTTP
                check_command                   check_http! -H $_HOSTHEADER$ -A $_HOSTSQLKEY$
                host_name                       www.americanhealthus.com.wb01,\
                                                app.solgar.com.wb01,\
                                                www.bodyfortress.com.wb01,\
                                                www.body-supreme.co.uk.wb01,\
                                                www.capsuleworks.com.wb01,\
                                                www.ester-c.ca.wb01,\
                                                www.ester-c.com.wb01,\
                                                www.flexamin.com.wb01,\
                                                www.goodnnatural.com.wb01,\
						www.goodnnaturalbar.com.wb01,\
						www.gwpwatch.com.wb01,\
                                                www.homehealthus.com.wb01,\
                                                www.knox.com.wb01,\
                                                www.lenaturiste.com.wb01,\
                                                www.metrx.co.uk.wb01,\
                                                www.naturalwealth.com.wb01,\
                                                www.naturesbounty.ca.wb01,\
                                                www.naturesbounty.com.wb01,\
                                                www.nbtyhelpinghands.com.wb01,\
                                                www.neurops.com.wb01,\
                                                www.nutritionfocus.org.wb01,\
                                                www.omni-pak.com.wb01,\
                                                www.osteobiflex.ca.wb01,\
                                                www.osteobiflex.com.wb01,\
                                                www.osteobiflex.co.uk.wb01,\
                                                www.pureprotein.net.wb01,\
                                                www.radiancevitamins.com.wb01,\
                                                www.skatewiththegreats.com.wb01,\
                                                www.solgar.com.wb01,\
                                                www.sportnutrition.com.wb01,\
                                                www.sundownnaturals.com.wb01,\
						www.sunvalleybar.com.wb01,\
                                                uk.solgar.com.wb01
}


